<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGWW8PB');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JYCBPTG2RX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JYCBPTG2RX');
</script>

<script>
  
function sendReadEvent(title, readingTime, articleName) {
    gtag('event','read_article', {
        "article_name": articleName,
        "title": title,
        "reading_time": readingTime,
    });
}
document.addEventListener("DOMContentLoaded", () => {
    
    const readArticleButton = document.getElementById("read-article-1")

    if (readArticleButton) {
        readArticleButton.addEventListener("click", () => {
            sendReadEvent("Article 1", 5, "Jack H")
        });
    
        document.getElementById("read-article-2").addEventListener("click", () => {
            sendReadEvent("Article 2", 10, "Chrille P")
        });
    
        document.getElementById("read-article-3").addEventListener("click", () => {
            sendReadEvent("Article 3", 15, "Oskar O")
        });
    }

});
console.log("2023-02-04")
</script>
